.anima1 {
  background-image: url("../imgs/helicoptero.png");
  animation: play 0.5s steps(2) infinite;

  -webkit-animation: play 0.5s steps(2) infinite;
  -moz-animation: play 0.5s steps(2) infinite;
  -ms-animation: play 0.5s steps(2) infinite;
  -o-animation: play 0.5s steps(2) infinite;
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-webkit-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-moz-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-ms-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-o-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

.anima2 {
  background-image: url("../imgs/inimigo1.png");
  animation: play 0.5s steps(2) infinite;
  -webkit-animation: play 0.5s steps(2) infinite;
  -moz-animation: play 0.5s steps(2) infinite;
  -ms-animation: play 0.5s steps(2) infinite;
  -o-animation: play 0.5s steps(2) infinite;
}

.anima3 {
  background-image: url("../imgs/amigos3.png");
  animation: play2 0.12s steps(6) infinite;
  -webkit-animation: play2 0.9s steps(6) infinite;
  -moz-animation: play2 0.9s steps(6) infinite;
  -ms-animation: play2 0.9s steps(6) infinite;
  -o-animation: play2 0.9s steps(6) infinite;
}

/* @keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-webkit-keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-moz-keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-ms-keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-o-keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
} */
@keyframes play2 {
	from {background-position:0px;}
	 to {background-position:-286px;}
}

@-webkit-keyframes play2 {
   from { background-position:0px; }
    to {background-position:-286px;}
}

@-moz-keyframes play2 {
   from { background-position:0px; }
    to {background-position:-286px;}
}

@-ms-keyframes play2 {
   from { background-position:0px; }
    to {background-position:-286px;}
}

@-o-keyframes play2 {
   from { background-position:0px; }
    to {background-position:-286px;}
}

#disparo {
  width: 50px;
  height: 15px;
  position: absolute;
  background-image: url("../imgs/missil.png");
}

#explosao1 {
  width: 15px;
  height: 87px;
  position: absolute;
}

#explosao2 {
  width: 15px;
  height: 87px;
  position: absolute;
}

#explosao3 {
  width: 44px;
  height: 51px;
  position: absolute;
}

.anima4 {
  width: 44px;
  height: 51px;
  background-image: url('../imgs/amigo_morte.png');
  animation: play3 0.5s steps(7) infinite;
  -webkit-animation: play3 0.5s steps(7) infinite;
  -moz-animation: play3 0.5s steps(7) infinite;
  -ms-animation: play3 0.5s steps(7) infinite;
  -o-animation: play3 0.5s steps(7) infinite;
}

@keyframes play3 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}

@-webkit-keyframes play3 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}

@-moz-keyframes play3 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}

@-ms-keyframes play3 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}

@-o-keyframes play3 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}
